<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <span>NATIVELAB</span>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/">Inicio</a></li>
        <li class="submenu-parent">
          <a href="#" id="submenu-toggle">Desarrolladores</a>
          <div class="submenu" id="submenu-desarrolladores">
            <div class="submenu-section">
              <h3>Empezar a programar</h3>
              <ul>
                <li><a href="#">Centro de aprendizaje</a></li>
                <li><a href="#">Documentación técnica</a></li>
                <li><a href="#">Guía de integración</a></li>
              </ul>
            </div>
            <div class="submenu-section">
              <h3>Recursos</h3>
              <ul>
                <li><a href="#">Herramientas y Bibliotecas</a></li>
                <li><a href="#">Ejemplos de Código</a></li>
                <li><a href="#">Entorno de Desarrollo</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="submenu-parent">
          <a href="#" id="submenu-toggle-servicios">Servicios</a>
          <div class="submenu" id="submenu-servicios">
            <div class="submenu-section">
              <h3>Desarrollo de Software</h3>
              <ul>
                <li><a href="#">Software a Medida</a></li>
                <li><a href="#">Aplicaciones Web</a></li>
                <li><a href="#">Aplicaciones Móviles</a></li>
                <li><a href="#">Desarrollo de Backend y API</a></li>
              </ul>
              <h3>Consultoría y Estrategia</h3>
              <ul>
                <li><a href="#">Consultoría Tecnología</a></li>
                <li><a href="#">Transformación Digital</a></li>
                <li><a href="#">Estrategia de TI</a></li>
              </ul>
            </div>
            <div class="submenu-section">
              <h3>Soluciones en la Nube</h3>
              <ul>
                <li><a href="#">Migración a la Nube</a></li>
                <li><a href="#">Gestión de la Infraestructura</a></li>
                <li><a href="#">Computación en la Nube</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a routerLink="/contact">Contáctanos</a></li>
      </ul>
    </nav>
  </header>
  <main class="hero">
    <h1>Potente para desarrolladores.<br>Rápido para todos.</h1>
    <p>
      Lleva la tecnología blockchain a las personas. Native Lab apoya las experiencias de los usuarios <br>
      avanzados, los nuevos consumidores y todos los que se encuentran entre estos dos extremos.
    </p>
  </main>
</body>
</html>
<router-outlet/>
