<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <span>NATIVELAB</span>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#">Inicio</a></li>
        <li class="submenu-parent">
          <a href="#" id="submenu-toggle">Desarrolladores</a>
          <ul class="submenu"><br>
            <h2>Empezar a programar</h2>
            <li><a href="#"><h4>Centro de aprendizaje</h4>
              Introduccion para nuevos desarrolladores, incluyendo guias básicas <br>
              y material de inicio.
            </a></li>
            <li><a href="#"><h4>Documentacion tecnica</h4>
              Acceso a la documentacion oficial de APIS, SDKS, y bibliotecas que <br>
              pueden necesitar.
            </a></li>
            <li><a href="#"><h4>Guia de integracion</h4>
              Paso a paso para integrar los servicios de las empresas de sus proyectos.
            </a></li>
          </ul>
        </li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contáctanos</a></li>
      </ul>
    </nav>
  </header>
  <main class="hero">
    <h1>Potente para desarrolladores.<br>Rápido para todos.</h1>
    <p>
      Lleva la tecnología blockchain a las personas. Native Lab apoya las experiencias de los usuarios <br>
      avanzados, los nuevos consumidores y todos los que se encuentran entre estos dos extremos.
    </p>
  </main>
</body>
</html>
<router-outlet/>
